

*{
    max-width: 1920px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}
h2{
    text-shadow: 1px 1px 2px pink;
}

.header{
    height: 670px;
    background-color: #2db5d46c;
    padding-top: 40px;
}

.nav{
    margin: auto;
    background-color: #F0F0F0;
    width: 1319px;
    height: 82px;
    border-radius: 30px;

}

.header ul, .lesson ul{
    padding: 0 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li{
    list-style: none;
}

.header a{
    text-decoration: none;
    color: #1D5D84;
    font-size: 20px;
}

.text{
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.text h1{
    width: 674px;
    font-size: 32px;
    font-weight: bold;
    
    color: #E5EDEF;
}
.text p{
    width: 764px;
    font-size: 24px;
    color: #E5EDEF;
    font-weight: bold;
}
.btn{
    margin-top: 29px;
}
.btn button{
    display: flex;
    background-color: #E9B25B;
    padding: 16px;
    border: none;
    border-radius: 30px;
    color: #E5EDEF;
    font-size: 16px;
    text-align: center;
    height: 50px;
    box-shadow: 0px 1px 3px .1px rgb(56, 55, 55);
}

.second_item{
    display: flex;
   justify-content: center; 
   flex-direction: column;
   align-items: center;
}



.first_sec{
    display: flex;
}

.left h2{
    color: #1D5D84;
    font-size: 40px;
    font-weight: bold;
    margin-left: 324px;
    padding-bottom: 44px;
}

.about{
    display: flex;
    gap: 36px;
    flex-direction: column;
}
.about p{
    color: #1D5D84;
    font-size: 20px;
    font-weight: normal;
    margin-left: 125px;
}

.about p:first-child{
    width: 575px;
}
.about p:last-child{
    width: 761px;
}

.right{
    margin-top: 245px;
    margin-bottom: 61px;
    display: flex;
    flex-wrap: wrap;
    width: 688px;
    column-gap: 200px;
    row-gap: 56px;
    justify-content: space-around;
}

.first, .second, .third{
    font-size: 20px;
    color: #1D5D84;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.first {
    width: 214px;
}

.second{
    width: 265px;
}

.third{
    width: 265px;
}

.img{
    display: flex;
    justify-content: center;    
}

.lesson{
    padding: 72px 125px;
    background-color: #003366d2;
}


.container_lesson h2{
    text-align: center;
    font-size: 40px;
    margin-bottom: 31px;
    color: #FFFFFF;
    text-shadow: 1px 1px 2px pink;
}


.header .links{
    padding: 32px 0;
    margin-bottom: 135px;
    display: flex;
    justify-content: center;
}

.header .links ul{
    width: 1200px;
}

.header .links ul li a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 20px;
    transition: .3s linear  ;
}
.header .links ul li a:hover {
    color: #756a6a;
    text-decoration: none;
    font-size: 20px;
}

.cards_lesson{
    display: flex;
    gap: 61px;
    flex-wrap: wrap;
    justify-content: center;
}



.card_lesson{
    padding: 29px 26px;
    width: 350px;
    height: 500px;
    background-color: #F0F0F0;
    border-radius: 30px;
    font-size: 20px;
}

.card_lesson h3{
    font-size: 24px;
    margin-bottom: 20px;
    color: #444748;
}

.card_lesson p {
    font-size: 20px;
    color: #444748;
}

.card_lesson p:first-child{
    margin-top: 18px;
}

.item_lesson_list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card_lesson p:last-child{
    margin-bottom: 31px;
}

.img_lesson_card{
    position: relative;
    display: flex;
    justify-content: center;
    top: 45px;
}

.button_lesson{
    position: relative;
    top: -20px;
    display: flex;
    justify-content: center;
}

 
.button_lesson button{
    position: relative;
    padding: 10px 38px;
    border-radius: 30px;
    background-color: #E9B25B;
    border: none;
    color: #E5EDEF;
    font-size: 20px;
    box-shadow: 0px 1px 3px .1px rgb(56, 55, 55);
}

.button_lesson button:hover{
    cursor: pointer;
}

.teachers{
    width: 1920px;
    margin-top: 82px;
}


.slider_container{
    display: flex;
    align-items: center;
}
.img_teacher{
    width: 418px;
    margin: 0 auto;
}

.containr_teachers h2{
    font-size: 40px;
    color: #1D5D84;
    text-align: center;
    margin-bottom: 50px;
}

.img_teacher img{
    border-radius: 10px;
}

.slider_container{
    display: flex;
    justify-content: center;
}

.slider{
    display: flex;
    align-items: center;
    gap: 78px;
}

.slide{
    padding: 23px 41px;
    width: 500px;
    height: 800px;
    background-color: #F0F0F0;
    border-radius: 30px;
}




.right_teacher img{
    right: 40px;
    transform: rotate(180deg);
}

.slide p {
    font-size: 20px;
}

.slide p:nth-child(2){
    font-size: 24px;
    margin-bottom: 14px;
     color: #444748;
}



.news_section{
    margin-top: 137px;
}
.container_news{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container_news h2{
    color: #1D5D84;
    font-size: 40px;
    margin-bottom: 46px;
}


.news{
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.card_new{
    padding: 27px 68px;
    width: 1275px;
    height: 257px;
    background-color: #F0F0F0;
    border-radius: 15px;
}

.card_new h2{
    text-shadow: none;
    color: #007BFF;
    font-size: 32px;
    margin-bottom: 10px;
}

.card_new p:nth-child(2){
    font-size: 16px;
    color: #4B4B4B;
    margin-bottom: 21px;
}

.card_new p:nth-child(3){
    font-size: 20px;
    color: #4B4B4B;
    margin-bottom: 15px;
}

.card_new button{
    padding: 13px 29px;
    background-color: #2DB6D4;
    border-radius: 15px;
    color: #F0F0F0;
    border: none;
    font-size: 20px;
}

.card_new button:hover{
    cursor: pointer;
}



/* !!!!!! */
.slider_slider{
    margin-top: 206px;
}

/* !!!!!!!!! */

.trast{
    margin-top: 190px;
    padding: 0 125PX;
}

.trast_container h2{
    text-align: center;
    font-size: 40px;
    color: #1D5D84;
    margin-bottom: 100px;
}

.items_trast{
    display: flex;
    flex-wrap: wrap;
    column-gap: 280px;
    row-gap: 87px;
}

.first_item_trast{
    width: 534px;
}

.second_item_trast{
    width: 800px;
}

.items_trast p{
    font-size: 20px;
    color: #444748;
}

.items_trast h3 {
    padding-bottom: 50px;
    font-size: 26px;
    color: #007BFF;
}

.items_trast ul{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.img_partners{
    margin-top: 53px;
    display: flex;
    gap: 120px;
}

/* !!!!!!!! */
.contact{
    margin-top: 200px;
}

.container_contact{
    width: 550px;
    height: 400px;
    background-color: #F0F0F0;
    padding: 31px 100px;
    margin: 0 auto;
    border-radius: 40px;
}

.container_contact h2{
    font-size: 24px;
    color: #444748;
    text-shadow: none;
    margin-bottom: 65px;
    text-align: center;
}


.contact form{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact input{
    font-size: 20px;
    color: #444748;
    border-radius: 15px;
    padding: 12px;
    border: none;
    outline: none;
    
}

.contact input:last-child{
    background-color: #E9B25B;
    width: 173px;
    color: #FFFFFF;
    margin: 0 auto;
}
.contact input:last-child:hover{
    cursor: pointer;
}

/* !!!!!!! */
footer{
    margin-top: 161px;
    margin-bottom: 20px;
    padding: 0 125px;
    font-size: 20px;
}

.container_footer{
    display: flex;
    justify-content: space-around;
}

.nav_footer h3, .links h3, .contacts_footer h3, .networks h3{
    margin-bottom: 32px;
    font-size: 24px;
    color: #444748;
}

.nav_footer a, .links a{
    text-decoration: none;
    color: #1D5D84;
}

.nav_footer ul, .links ul{
    display: flex;
    flex-direction: column;
    gap: 29px;
}

.img_networks{
    display: flex;
    gap: 40px;
    margin-top: 28px;
}

.contetn_footer_contact{
    display: flex;
    gap: 14px;
    align-items: center;
}